USE [DOCKER_DB]
GO
/****** Object:  Table [dbo].[GUI]    Script Date: 4/13/2017 8:52:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GUI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[GUI] ON 

INSERT [dbo].[GUI] ([ID], [GUID]) VALUES (1, N'8DA8257A-72EC-4C81-81DA-E10836F533E1')
SET IDENTITY_INSERT [dbo].[GUI] OFF
